DATABASE_URL=
TELEGRAM_BOT_TOKEN=
TELEGRAM_BOT_USERNAME=
TELEGRAM_CHANNEL_ID=
ADMIN_TG_IDS=
SESSION_SECRET=
NEXT_PUBLIC_SITE_URL=http://localhost:3000
ADS_CONTACT_URL=https://t.me/yappi_manager
DEV_FAKE_LOGIN=true
TG_CHANNEL_URL=https://t.me/yappi_manager
IP_HASH_SALT=
